h1 {
    color:green;
    font-size: 40px;
}

label {
color: mediumseagreen;
font-weight: bold;
}

button {
    background-color: black;
    color: whitesmoke;
}

.test {
    font-size: 24px;
    background-color: yellow;
    color:salmon;
    box-shadow: 2px 5px salmon; 
}

#style {
    background-color: green;
    border-radius: 30px;
    width: 270px;
    height: 40px;
}

fieldset {
    border-color:lightgreen;
    width: 550px;
}

img {
    width: 580px;
    height: 300px;
}